*,
::after,
::before {
 box-sizing:border-box
}

@media (prefers-reduced-motion:no-preference) {
 :root {
  scroll-behavior:smooth
 }
}

body {
 margin:0;
 font-size:.875rem;
 font-weight:400;
 line-height:1.4285714;
 -webkit-text-size-adjust:100%;
 -webkit-tap-highlight-color:transparent
}

[tabindex="-1"]:focus:not(:focus-visible) {
 outline:0!important
}

hr {
 margin:2rem 0;
 border:1px double black;
}

hr:not([size]) {
 height:1px
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin-top:0;
 margin-bottom:.5rem;
 font-weight:500;
 line-height:1.2
}


h1 {
font-size:1.5rem
}

h2 {
 font-size:1.125rem
}

h3 {
 font-size:1rem
}

h4 {
 font-size:.875rem
}

h5 {
 font-size:.75rem
}

h6 {
 font-size:.625rem
}

p {
 margin-top:0;
 margin-bottom:1rem
}

abbr[data-bs-original-title],
abbr[title] {
 text-decoration:underline;
 -webkit-text-decoration:underline dotted;
 text-decoration:underline dotted;
 cursor:help;
 -webkit-text-decoration-skip-ink:none;
 text-decoration-skip-ink:none
}

address {
 margin-bottom:1rem;
 font-style:normal;
 line-height:inherit
}

ol,
ul {
 padding-left:2rem
}

dl,
ol,
ul {
 margin-top:0;
 margin-bottom:1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
 margin-bottom:0
}

dt {
 font-weight:600
}

dd {
 margin-bottom:.5rem;
 margin-left:0
}

blockquote {
 margin:0 0 1rem
}

b,
strong {
 font-weight:bolder
}

small {
 font-size:85.7142857%
}

mark {
 padding:.2em;
 background-color:#fcf8e3
}

sub,
sup {
 position:relative;
 font-size:.75em;
 line-height:0;
 vertical-align:baseline
}

sub {
 bottom:-.25em
}

sup {
 top:-.5em
}

a {
 color:#206bc4;
 text-decoration:none
}

a:hover {
 color:#1a569d;
 text-decoration:underline
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
 color:inherit;
 text-decoration:none
}

code,
kbd,
pre,
samp {
 font-family:var(--tblr-font-monospace);
 font-size:1em;
 direction:ltr;
 unicode-bidi:bidi-override
}

pre {
 display:block;
 margin-top:0;
 margin-bottom:1rem;
 overflow:auto;
 font-size:85.7142857%
}

pre code {
 font-size:inherit;
 color:inherit;
 word-break:normal
}

code {
 font-size:85.7142857%;
 color:#206bc4;
 word-wrap:break-word
}

a>code {
 color:inherit
}

kbd {
 padding:.2rem .4rem;
 font-size:85.7142857%;
 color:#fff;
 background-color:#232e3c;
 border-radius:.2rem
}

kbd kbd {
 padding:0;
 font-size:1em;
 font-weight:600
}

figure {
 margin:0 0 1rem
}

img,
svg {
 vertical-align:middle
}

table {
 caption-side:bottom;
 border-collapse:collapse
}

caption {
 padding-top:.5rem;
 padding-bottom:.5rem;
 color:#656d77;
 text-align:left
}

th {
 text-align:inherit;
 text-align:-webkit-match-parent
}

tbody,
td,
tfoot,
th,
thead,
tr {
 border-color:inherit;
 border-style:solid;
 border-width:0
}

@media print {
    footer {
        page-break-after: always;
    }
}